$main-font: 'Major Mono Display', monospace;
$logo-font: "La Belle Aurore", cursive;
$para-font: "Space Mono", monospace;
$primary-color: #FBC201;
$complem-color: #7C6208;

body {
    font-family: $para-font;
    color: white;

    overflow-y: scroll;

    //Transition
    transition-duration:0.5s;

    //Sizing
    height: 100vh;
    padding: 1rem;

    //Arrangement
    display: flex;
    flex-direction: column;
    
    //Background
    //background: url('cafe_lounge.jpg') no-repeat center center fixed;
    //background-size: cover;

    h1 {
        //Font
        font-family: $main-font;
        font-size: 6rem;
        font-weight: normal;
    }

    h2 {
        //Font
        font-family: $main-font;
        font-size: 3rem;
        font-weight: normal;
    }
    

}

.content {
    p {
        background-color: rgba(251, 194, 1, 0.7);
        padding: 1rem;
        border-radius: 1rem;

        font-size: 1.2rem;
    }
}

.socials {
    svg {
        //Spacing
        margin-top: 1rem;
        margin-right: 0.5rem;
        
        //Sizing
        width: 2.5rem;
        height: auto;
    }

    svg:hover {
        fill: $primary-color;
    }
}

main {
    transition-duration: 0.4s;
    margin-top: 3rem;

    .section {
        margin: 2rem 0rem;
    }
}

main.active {
    color: transparent;
}

body.active {
    box-shadow: inset 0 0 0 1000px rgba(251, 194, 1, 0.7);
    overflow-y: hidden;
}

@media screen and (min-width: 769px) {
    main {
        $main-margin: 14rem;
        margin-left: $main-margin;
        margin-right: $main-margin;
    }

    .content {
        p {
            width: fit-content;
        }
    }
}