$main-font: 'Major Mono Display', monospace;
$logo-font: "La Belle Aurore", cursive;
$para-font: "Space Mono", monospace;
$primary-color: #FBC201;
$complem-color: #7C6208;

body {
    font-family: $main-font;
    color: white;

    overflow-y: hidden;

    //Transition
    transition-duration:0.5s;

    //Sizing
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 1rem;

    //Arrangement
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    //Background
    background: url('cafe_lounge.jpg') no-repeat center center fixed;
    background-color:grey;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 3rem;
        font-weight: normal;
    }
    
    p {
        font-size: 1rem;
        font-family: $para-font;
    }

    footer {
        //Positioning
        position: absolute;
        bottom: 0px;
        left: 0px;

        //Sizing
        width: 100%;
        padding: 1rem 0rem;

        //Colour
        background-color: #4D5057;

        display: flex;
        justify-content: center;

        div {
            text-align: center;
        }

        p {
            font-size: 0.8rem;
        }
    }
}

.socials {
    svg {
        //Spacing
        margin-top: 1rem;
        margin-right: 0.5rem;
        
        //Sizing
        width: 2.5rem;
        height: auto;
    }

    svg:hover {
        fill: $primary-color;
    }
}

main {
    transition-duration: 0.2s;
    
}

main.active {
    color: transparent;
    display: none;
}

body.active {
    box-shadow: inset 0 0 0 1000px rgba(78, 110, 93, 0.7);
}
