$main-font: "VT323", monospace;
$logo-font: "La Belle Aurore", cursive;
$primary-color: #FBC201;
$complem-color: #7C6208;

body {
    font-family: $main-font;
    color: white;

    overflow-y: hidden;

    //Transition
    transition-duration:0.5s;

    //Sizing
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 1rem;

    //Arrangement
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    //Background
    background: url('cafe_lounge.jpg') no-repeat center center fixed;
    background-color:grey;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 5rem;
        font-weight: normal;
    }
    
    p {
        font-size: 1.5rem;
    }
}

.socials {
    svg {
        //Spacing
        margin-top: 1rem;
        margin-right: 0.5rem;
        
        //Sizing
        width: 2.5rem;
        height: auto;
    }

    svg:hover {
        fill: $primary-color;
    }
}

main {
    transition-duration: 0.5s;
}

main.active {
    transform: translateY(100%);
}

body.active {

    box-shadow: inset 0 0 0 1000px rgba(251, 194, 1, 0.7);
}
