$main-font: "VT323", monospace;
$logo-font: "La Belle Aurore", cursive;
$primary-color: #FBC201;
$complem-color: #7C6208;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    background-color: $primary-color;
    color: $complem-color;

    //Position
    position: absolute;
    top: 0;
    left: 0;

    padding: 0rem 1rem;

    //Sizing
    height: 4.75rem;

    //Arrangement
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-link {
        font-family: $logo-font, sans-serif;
        font-size: 2.5rem;
        transform: translateY(0.5rem);
    }

    svg {
        width: 3rem;
        height: auto;
    }

    .menu-button {
        cursor: pointer;

        .bi-x {
            display: none;
        }
    
        .bi-list {
            display: inline;
        }

        svg:hover {
            border-radius: 0.5rem;
            background-color: white;
        }
    }

    .menu-button.active {
        .bi-x {
            display: inline;
        }
    
        .bi-list {
            display: none;
        }
    }
}

.menu {
    font-family: $main-font;
    font-size: 5rem;

    //Arrangement
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;

    //Positioning
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 1rem;

    a:hover {
        text-decoration-line: underline;
    }

}

.menu.active {
    display: flex;
}

.footer {
    display: none;
}

/* Grid View */
/* For mobile: */
[class*="col-"] {
    width: 100%;
}

@media screen and (min-width: 769px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 
}